.card {
  width: 300px;
  text-align: center;
  background-color: var(--color-gray-300);
  color: var(--color-blue);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: space-between;
  transition: all 0.3s ease;
  position: relative;
  margin: 100px auto;
}

.card:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.bigWings {
  position: absolute;
  background-color: inherit;
  height: 150px;
  width: 40px;
  z-index: -1;
}

.bigWings.left {
  top: -100px;
  left: 130px;
  transform: rotate(30deg);
}

.bigWings.right {
  bottom: -100px;
  left: 130px;
  transform: rotate(-30deg);
}

.smallWings {
  position: absolute;
  background-color: inherit;
  height: 90px;
  width: 30px;
  z-index: -1;
}

.smallWings.left {
  top: 10px;
  right: -6px;
  transform: rotate(-15deg);
}

.smallWings.right {
  bottom: 10px;
  right: -6px;
  transform: rotate(15deg);
}
