.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-inline: auto;
  margin-top: 100px;
  gap: 50px;
}

.content {
  font-size: var(--font-size-md);
  width: 60%;
  background-color: var(--color-gray-300);
  color: var(--color-gray-900);
  padding: 40px 20px;
  border-radius: 20px;
  border: 3px solid var(--color-gray-400);
  height: 500px;
  overflow-y: auto;
}

.navigation{
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 60%;
}

.navButton{
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color-gray-300);
  color: var(--color-blue);
  transition: all 0.3s ease;
  font-size: var(--font-size-md);
}

.navButton:hover{
  background-color: var(--color-gray-400);
}

.navButtonBack{
  grid-column: 1;
}

.navButtonForward{
  grid-column: 3;
}

.pageNumber{
  grid-column: 2;
  text-align: center;
  font-size: var(--font-size-md);
  font-weight: bold;
}

.link {
  background-color: var(--color-gray-300);
  color: var(--color-blue);
  font-size: var(--font-size-lg);
  padding: 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.link:hover{
  background-color: var(--color-gray-400);
}
