.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 100px;
}

.input{
  padding: 0.625rem 1rem;
  font-size: var(--font-size-lg);
  border: 1px solid var(--color-gray-500);
  border-radius: 10px;
}

.input:focus{
  outline: 2px solid var(--color-blue);
  border: none;
}

.input.error{
  outline: 2px solid var(--color-red);
  border: none;
}

.errorMsg{
  color: var(--color-red);
  font-size: var(--font-size-xs);
}

.sign{
  margin-top: 15px;
  background-color: var(--color-blue);
  font-size: var(--font-size-lg);
  color: var(--color-white);
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sign.errorButton{
  outline: 3px solid var(--color-red);
}

.errorMsg.errButtonMsg{
  align-self: center;
}

.sign:hover{
  filter: brightness(1.1);
}

.changeType{
  align-self: center;
  width: fit-content;
  margin-top: 15px;
  transition: all ease 0.3s;
  border-bottom: 1px solid transparent;
}

.changeType:hover{
  border-bottom: 1px solid var(--color-gray-700);
}



